# Игнорировать виртуальное окружение
venv/
.env

# Игнорировать IDE-файлы
.idea/
*.iml

# Игнорировать логи
*.log

# Игнорировать все Python-байт-коды
__pycache__/
*.pyc
*.pyo

# Игнорировать все, кроме data/aggregated.zip
*
!data/
data/*
!data/aggregated.zip